In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
# df.head()
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
df[df['Gold'] == max(df['Gold'])].index[0]

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
df[df['Gold']-df['Gold.1'] == max(abs(df['Gold']-df['Gold.1']))].index[0]

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
gold_in_summer_and_winter = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
max_val = max(abs(gold_in_summer_and_winter['Gold'] - gold_in_summer_and_winter['Gold.1'])/gold_in_summer_and_winter['Gold.2'])
required_df = gold_in_summer_and_winter[abs(gold_in_summer_and_winter['Gold'] - gold_in_summer_and_winter['Gold.1'])/gold_in_summer_and_winter['Gold.2'] == max_val]
required_df.index[0]

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [10]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [31]:
Points = (df['Gold.2'] * 3) + (df['Silver.2'] * 2) + (df['Bronze.2'])
Points.name = 'Points'
Points

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [51]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [236]:
counties_only = census_df[census_df['SUMLEV'] == 50] # only counties
counties_only.groupby('STNAME')['SUMLEV'].count().idxmax()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [262]:
counties_only = census_df[census_df['SUMLEV'] == 50]
counties_only = counties_only[['STNAME', 'CTYNAME', 'CENSUS2010POP']]
counties_only

         STNAME             CTYNAME  CENSUS2010POP
1       Alabama      Autauga County          54571
2       Alabama      Baldwin County         182265
3       Alabama      Barbour County          27457
4       Alabama         Bibb County          22915
5       Alabama       Blount County          57322
6       Alabama      Bullock County          10914
7       Alabama       Butler County          20947
8       Alabama      Calhoun County         118572
9       Alabama     Chambers County          34215
10      Alabama     Cherokee County          25989
11      Alabama      Chilton County          43643
12      Alabama      Choctaw County          13859
13      Alabama       Clarke County          25833
14      Alabama         Clay County          13932
15      Alabama     Cleburne County          14972
16      Alabama       Coffee County          49948
17      Alabama      Colbert County          54428
18      Alabama      Conecuh County          13228
19      Alabama        Coosa County          11539
20      Alabama    Covington County          37765
21      Alabama     Crenshaw County          13906
22      Alabama      Cullman County          80406
23      Alabama         Dale County          50251
24      Alabama       Dallas County          43820
25      Alabama       DeKalb County          71109
26      Alabama       Elmore County          79303
27      Alabama     Escambia County          38319
28      Alabama       Etowah County         104430
29      Alabama      Fayette County          17241
30      Alabama     Franklin County          31704
...         ...                 ...            ...
3162  Wisconsin     Washburn County          15911
3163  Wisconsin   Washington County         131887
3164  Wisconsin     Waukesha County         389891
3165  Wisconsin      Waupaca County          52410
3166  Wisconsin     Waushara County          24496
3167  Wisconsin    Winnebago County         166994
3168  Wisconsin         Wood County          74749
3170    Wyoming       Albany County          36299
3171    Wyoming     Big Horn County          11668
3172    Wyoming     Campbell County          46133
3173    Wyoming       Carbon County          15885
3174    Wyoming     Converse County          13833
3175    Wyoming        Crook County           7083
3176    Wyoming      Fremont County          40123
3177    Wyoming       Goshen County          13249
3178    Wyoming  Hot Springs County           4812
3179    Wyoming      Johnson County           8569
3180    Wyoming      Laramie County          91738
3181    Wyoming      Lincoln County          18106
3182    Wyoming      Natrona County          75450
3183    Wyoming     Niobrara County           2484
3184    Wyoming         Park County          28205
3185    Wyoming       Platte County           8667
3186    Wyoming     Sheridan County          29116
3187    Wyoming     Sublette County          10247
3188    Wyoming   Sweetwater County          43806
3189    Wyoming        Teton County          21294
3190    Wyoming        Uinta County          21118
3191    Wyoming     Washakie County           8533
3192    Wyoming       Weston County           7208

[3142 rows x 3 columns]

In [298]:
g = counties_only.groupby('STNAME')
res = g.apply(lambda x: x.sort_values(by='CENSUS2010POP', ascending=False).head(3))
# res.reset_index
# type(res)
res = res[['CTYNAME', 'CENSUS2010POP']]
res

                                                CTYNAME  CENSUS2010POP
STNAME
Alabama              37                Jefferson County         658466
                     49                   Mobile County         412992
                     45                  Madison County         334811
Alaska               71          Anchorage Municipality         291826
                     76    Fairbanks North Star Borough          97581
                     85       Matanuska-Susitna Borough          88995
Arizona              106                Maricopa County        3817117
                     109                    Pima County         980263
                     110                   Pinal County         375770
Arkansas             174                 Pulaski County         382748
                     118                  Benton County         221339
                     186              Washington County         203065
California           209             Los Angeles County        9818605
                     227               San Diego County        3095313
                     220                  Orange County        3010232
Colorado             271                 El Paso County         622263
                     266                  Denver County         600158
                     252                Arapahoe County         572003
Connecticut          315               Fairfield County         916829
                     316                Hartford County         894014
                     319               New Haven County         862477
Delaware             325              New Castle County         538479
                     326                  Sussex County         197145
                     324                    Kent County         162310
District of Columbia 328           District of Columbia         601723
Florida              372              Miami-Dade County        2496435
                     335                 Broward County        1748066
                     379              Palm Beach County        1320134
Georgia              457                  Fulton County         920581
                     464                Gwinnett County         805321
...                                                 ...            ...
South Dakota         2452              Minnehaha County         169468
                     2455             Pennington County         100948
                     2444                Lincoln County          44828
Tennessee            2549                 Shelby County         927644
                     2489               Davidson County         626681
                     2517                   Knox County         432226
Texas                2667                 Harris County        4092459
                     2623                 Dallas County        2368139
                     2786                Tarrant County        1809034
Utah                 2839              Salt Lake County        1029655
                     2846                   Utah County         516564
                     2827                  Davis County         306479
Vermont              2855             Chittenden County         156545
                     2862                Rutland County          61642
                     2863             Washington County          59534
Virginia             2895                Fairfax County        1081726
                     2996           Virginia Beach city         437994
                     2939         Prince William County         402002
Washington           3017                   King County        1931249
                     3027                 Pierce County         795225
                     3031              Snohomish County         713335
West Virginia        3060                Kanawha County         193063
                     3042               Berkeley County         104169
                     3046                 Cabell County          96319
Wisconsin            3137              Milwaukee County         947735
                     3109                   Dane County         488073
                     3164               Waukesha County         389891
Wyoming              3180                Laramie County          91738
                     3182                Natrona County          75450
                     3172               Campbell County          46133

[151 rows x 2 columns]

In [299]:
type(res)

pandas.core.frame.DataFrame

In [306]:
ans = res.groupby('STNAME').apply(lambda x: x.sum())
ans

,CTYNAME,CENSUS2010POP
STNAME,,
Alabama,Jefferson CountyMobile CountyMadison County,1406269
Alaska,Anchorage MunicipalityFairbanks North Star Bor...,478402
Arizona,Maricopa CountyPima CountyPinal County,5173150
Arkansas,Pulaski CountyBenton CountyWashington County,807152
California,Los Angeles CountySan Diego CountyOrange County,15924150
Colorado,El Paso CountyDenver CountyArapahoe County,1794424
Connecticut,Fairfield CountyHartford CountyNew Haven County,2673320
Delaware,New Castle CountySussex CountyKent County,897934
District of Columbia,District of Columbia,601723
Florida,Miami-Dade CountyBroward CountyPalm Beach County,5564635
Georgia,Fulton CountyGwinnett CountyDeKalb County,2417795
Hawaii,Honolulu CountyHawaii CountyMaui County,1293120
Idaho,Ada CountyCanyon CountyKootenai County,719782
Illinois,Cook CountyDuPage CountyLake County,6815061
Indiana,Marion CountyLake CountyAllen County,1754727
Iowa,Polk CountyLinn CountyScott County,807090
Kansas,Johnson CountySedgwick CountyShawnee County,1220478
Kentucky,Jefferson CountyFayette CountyKenton County,1196619
Louisiana,East Baton Rouge ParishJefferson ParishOrleans...,1216552
Maine,Cumberland CountyYork CountyPenobscot County,632728
Maryland,Montgomery CountyPrince George's CountyBaltimo...,2640226
Massachusetts,Middlesex CountyWorcester CountyEssex County,3044796
Michigan,Wayne CountyOakland CountyMacomb County,3863924
Minnesota,Hennepin CountyRamsey CountyDakota County,2059617
Mississippi,Hinds CountyHarrison CountyDeSoto County,593642
Missouri,St. Louis CountyJackson CountySt. Charles County,2033597
Montana,Yellowstone CountyMissoula CountyFlathead County,348199
Nebraska,Douglas CountyLancaster CountySarpy County,961357
Nevada,Clark CountyWashoe CountyCarson City,2427950
New Hampshire,Hillsborough CountyRockingham CountyMerrimack ...,842389
New Jersey,Bergen CountyMiddlesex CountyEssex County,2498943
New Mexico,Bernalillo CountyDo�a Ana CountySanta Fe County,1015967
New York,Kings CountyQueens CountyNew York County,6321295
North Carolina,Mecklenburg CountyWake CountyGuilford County,2309027
North Dakota,Cass CountyBurleigh CountyGrand Forks County,297947
Ohio,Cuyahoga CountyFranklin CountyHamilton County,3245910
Oklahoma,Oklahoma CountyTulsa CountyCleveland County,1577791
Oregon,Multnomah CountyWashington CountyClackamas County,1641036
Pennsylvania,Philadelphia CountyAllegheny CountyMontgomery ...,3549228
Rhode Island,Providence CountyKent CountyWashington County,919804
South Carolina,Greenville CountyRichland CountyCharleston County,1185938
South Dakota,Minnehaha CountyPennington CountyLincoln County,315244
Tennessee,Shelby CountyDavidson CountyKnox County,1986551
Texas,Harris CountyDallas CountyTarrant County,8269632
Utah,Salt Lake CountyUtah CountyDavis County,1852698
Vermont,Chittenden CountyRutland CountyWashington County,277721
Virginia,Fairfax CountyVirginia Beach cityPrince Willia...,1921722
Washington,King CountyPierce CountySnohomish County,3439809
West Virginia,Kanawha CountyBerkeley CountyCabell County,393551
Wisconsin,Milwaukee CountyDane CountyWaukesha County,1825699
Wyoming,Laramie CountyNatrona CountyCampbell County,213321

In [313]:
# max(ans['CENSUS2010POP'])
ans[ans['CENSUS2010POP'] == max(ans['CENSUS2010POP'])].index[0]

'California'

In [316]:
counties_only = census_df[census_df['SUMLEV'] == 50] # only counties
counties_only = counties_only[['STNAME', 'CTYNAME', 'CENSUS2010POP']] # only CENSUS2010POP
g = counties_only.groupby('STNAME') # Group by State name
res = g.apply(lambda x: x.sort_values(by='CENSUS2010POP', ascending=False).head(3).sum()) # Sort every group in descending order and get top 3 results
# res = res[['CTYNAME', 'CENSUS2010POP']] # Take only two Columns
# ans = res.groupby('STNAME').apply(lambda x: x.sum()) # Sum group wise
# ans[ans['CENSUS2010POP'] == max(ans['CENSUS2010POP'])].index[0]
res[ans['CENSUS2010POP'] == max(ans['CENSUS2010POP'])].index[0]

'California'

In [339]:
counties_only = census_df[census_df['SUMLEV'] == 50] # only counties
counties_only = counties_only[['STNAME', 'CTYNAME', 'CENSUS2010POP']] # only CENSUS2010POP
g = counties_only.groupby('STNAME') # Group by State name
res = g.apply(lambda x: x.sort_values(by='CENSUS2010POP', ascending=False).head(3).sum()) # Sort every group in descending order and get sum of top 3 results
# final_df = res[res['CENSUS2010POP'] == max(res['CENSUS2010POP'])]
# final_df
res = res[['CTYNAME', 'CENSUS2010POP']]
final_ans = res.sort_values('CENSUS2010POP', ascending=False)[:3]
list(final_ans.index)

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [419]:
counties_only = census_df[census_df['SUMLEV'] == 50]
required_columns = ['STNAME',
                    'CTYNAME',
                    'POPESTIMATE2010',
                    'POPESTIMATE2011',
                    'POPESTIMATE2012',
                    'POPESTIMATE2013',
                    'POPESTIMATE2014',
                    'POPESTIMATE2015']
counties_only = counties_only[required_columns]
counties_only.head()

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,57373,57711,57776,57734,57658,57673

In [420]:
params = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']
counties_only['abs_change_pop'] = (counties_only[params].max(axis=1)) - (counties_only[params].min(axis=1))
counties_only

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,abs_change_pop
1,Alabama,Autauga County,54660,55253,55175,55038,55290,55347,687
2,Alabama,Baldwin County,183193,186659,190396,195126,199713,203709,20516
3,Alabama,Barbour County,27341,27226,27159,26973,26815,26489,852
4,Alabama,Bibb County,22861,22733,22642,22512,22549,22583,349
5,Alabama,Blount County,57373,57711,57776,57734,57658,57673,403
6,Alabama,Bullock County,10887,10629,10606,10628,10829,10696,281
7,Alabama,Butler County,20944,20673,20408,20261,20276,20154,790
8,Alabama,Calhoun County,118437,117768,117286,116575,115993,115620,2817
9,Alabama,Chambers County,34098,33993,34075,34153,34052,34123,160
10,Alabama,Cherokee County,25976,26080,26023,26084,25995,25859,225
11,Alabama,Chilton County,43665,43739,43697,43795,43921,43943,278
12,Alabama,Choctaw County,13841,13593,13543,13378,13289,13170,671
13,Alabama,Clarke County,25767,25570,25144,25116,24847,24675,1092
14,Alabama,Clay County,13880,13670,13456,13467,13538,13555,424
15,Alabama,Cleburne County,14973,14971,14921,15028,15072,15018,151
16,Alabama,Coffee County,50177,50448,51173,50755,50831,51211,1034
17,Alabama,Colbert County,54514,54443,54472,54471,54480,54354,160
18,Alabama,Conecuh County,13208,13121,12996,12875,12662,12672,546
19,Alabama,Coosa County,11758,11348,11195,11059,10807,10724,1034
20,Alabama,Covington County,37796,38060,37818,37830,37888,37835,264
21,Alabama,Crenshaw County,13853,13896,13951,13932,13948,13963,110
22,Alabama,Cullman County,80473,80469,80374,80756,81221,82005,1631
23,Alabama,Dale County,50358,50109,50324,49833,49501,49565,857
24,Alabama,Dallas County,43803,43178,42777,42021,41662,41131,2672
25,Alabama,DeKalb County,71142,71387,70942,70869,71012,71130,518
26,Alabama,Elmore County,79465,80012,80432,80883,81022,81468,2003
27,Alabama,Escambia County,38309,38213,38034,37857,37784,37789,525
28,Alabama,Etowah County,104442,104236,104235,103852,103452,103057,1385
29,Alabama,Fayette County,17231,17062,16960,16857,16842,16759,472
30,Alabama,Franklin County,31734,31729,31648,31507,31592,31696,227
...,...,...,...,...,...,...,...,...,...
3162,Wisconsin,Washburn County,15930,15784,15831,15657,15678,15552,378
3163,Wisconsin,Washington County,131967,132225,132649,132758,133301,133674,1707
3164,Wisconsin,Waukesha County,390076,390808,392710,394025,395335,396488,6412
3165,Wisconsin,Waupaca County,52422,52342,52035,52213,52088,51945,477
3166,Wisconsin,Waushara County,24506,24581,24484,24332,24173,24033,548
3167,Wisconsin,Winnebago County,167059,167630,168717,169486,169639,169546,2580
3168,Wisconsin,Wood County,74807,74647,74384,73996,73597,73435,1372
3170,Wyoming,Albany County,36428,36908,37396,37647,37918,37956,1528
3171,Wyoming,Big Horn County,11672,11745,11785,12002,11919,12022,350
3172,Wyoming,Campbell County,46244,46600,47881,48121,48243,49220,2976
3173,Wyoming,Carbon County,15837,15817,15678,15787,15856,15559,297
3174,Wyoming,Converse County,13826,13728,14025,14343,14172,14236,615
3175,Wyoming,Crook County,7114,7129,7148,7160,7264,7444,330
3176,Wyoming,Fremont County,40222,40591,41129,41024,40717,40315,907
3177,Wyoming,Goshen County,13408,13597,13666,13565,13509,13383,283
3178,Wyoming,Hot Springs County,4813,4818,4846,4846,4793,4741,105
3179,Wyoming,Johnson County,8581,8636,8610,8619,8552,8585,84
3180,Wyoming,Laramie County,92271,92663,94894,96006,96469,97121,4850
3181,Wyoming,Lincoln County,18091,18022,17943,18328,18564,18722,779
3182,Wyoming,Natrona County,75472,76420,78699,81156,81603,82178,6706
3183,Wyoming,Niobrara County,2492,2485,2475,2548,2530,2542,73
3184,Wyoming,Park County,28259,28473,28863,29237,29126,29228,978
3185,Wyoming,Platte County,8678,8701,8732,8728,8776,8812,134
3186,Wyoming,Sheridan County,29146,29275,29594,29794,30020,30009,874
3187,Wyoming,Sublette County,10244,10142,10418,10086,10039,9899,519
3188,Wyoming,Sweetwater County,43593,44041,45104,45162,44925,44626,1569
3189,Wyoming,Teton County,21297,21482,21697,22347,22905,23125,1828
3190,Wyoming,Uinta County,21102,20912,20989,21022,20903,20822,280
3191,Wyoming,Washakie County,8545,8469,8443,8443,8316,8328,229
3192,Wyoming,Weston County,7181,7114,7065,7160,7185,7234,169

In [421]:
ans = counties_only[counties_only['abs_change_pop'] == max(counties_only['abs_change_pop'])]
ans

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,abs_change_pop
2667,Texas,Harris County,4108187,4181238,4262504,4352462,4447577,4538028,429841

In [422]:
ans.iloc[0]['CTYNAME']

'Harris County'

In [427]:
counties_only = census_df[census_df['SUMLEV'] == 50]
params = ['POPESTIMATE2010',
          'POPESTIMATE2011',
          'POPESTIMATE2012',
          'POPESTIMATE2013',
          'POPESTIMATE2014',
          'POPESTIMATE2015']
counties_only = counties_only[['CTYNAME'] + params]
counties_only['abs_change_pop'] = (counties_only[params].max(axis=1)) - (counties_only[params].min(axis=1))
ans = counties_only[counties_only['abs_change_pop'] == max(counties_only['abs_change_pop'])]
ans.iloc[0]['CTYNAME']

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [429]:
census_df['REGION'].unique()

array([3, 4, 1, 2])

In [441]:
required_region_df = census_df[(census_df['REGION'] == 1) | (census_df['REGION'] == 2)]
required_region_df = required_region_df[required_region_df['CTYNAME'].str.startswith('Washington')]
required_region_df = required_region_df[required_region_df['POPESTIMATE2015'] > required_region_df['POPESTIMATE2014']]
required_region_df = required_region_df[['STNAME', 'CTYNAME']]
required_region_df

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County